*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.App {
  text-align: center;
  background-color: steelblue;
  width: 80%;
  height: 85vh;
  margin: 50px auto;
  overflow: scroll;
  border-radius: 14px;
}
.App::-webkit-scrollbar{
  background: none;
}
.App> h1{
  margin-bottom: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-form{
  padding: 10px;
  position: fixed;
  background-color: whitesmoke;
  bottom: 8%;
  left:   10%;
  z-index: 1;
  width: 78%;
  margin: 10px;
  border-radius: 10px;
}
.app-formcontrol{
  display: flex !important;
  flex-direction: row !important;
}
.app-input{
  flex: 1 !important;
}
.app-sendbtn{
  flex: 0 !important;
}